
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Image Search Abstraction Layer</title>
    <!--Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Image Search Abstraction Layer"/>
    <meta name="author" content="Rafase282"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="header">Image Search Abstraction Layer</h1>
      <h3>Example usage (default offset is 10):</h3><code>https://image-search-abstraction-layer-redaaa.glitch.me/search/funny cats?offset=10</code><br/>
      <h3>Example usage for search history:</h3><code>https://image-search-abstraction-layer-redaaa.glitch.me/history</code>
    </div>
  </body>
</html>